
              <div *ngIf="user" > 
                <!-- <p>{{ parent | json}}</p> -->
                <app-display-errors [errors]="commentFormErrors"></app-display-errors>
                <form class="card comment-form" 
                  [formGroup]="commentForm"
                  (ngSubmit)="addComment()">
                  <fieldset [disabled]="isSubmitting">
                    <div class="card-block">
                      <textarea class="form-control"
                        placeholder="Write a comment..."
                        rows="3"
                        formControlName ="content"
                      ></textarea>
                    </div>
                      <!-- <input [ngModel] ="parent.parentId"
                        formControlName ="parentId" > -->
                    <div class="card-footer">
                      <!-- <span>
                        <img [src]="user.photoUrl" class="comment-author-img" />
                      </span> -->
                      <app-label-name
                        [userName]="user.username"
                         [imageUrl]="user.photoUrl">
                        </app-label-name>
                      <!-- <button class="btn btn-sm btn-primary" 
                       [disabled]="commentForm.invalid"
                       type="submit">
                       Post Comment
                      </button> -->
                      <button mat-icon-button 
                        type="submit"  
                        class="btn btn-sm action-btn">
                            <i class="fa-solid fa-paper-plane"></i>
                      </button>
                      
                    </div>
                  </fieldset>
                </form>
              </div>