:host ::ng-deep app-input-markdown textarea{
    height: 4rem;
}
.mat-form-field{
    width: 50%;
}
:host ::ng-deep .mat-form-field-suffix .mat-icon {
    opacity: 0.6;
}
.right-side{
    display: flex;
    flex-direction: column;
}
