<div style="height: 200px;display: block;">
</div>
<p>{{ model | json}}</p>
<div class="ck-content " [innerHtml] = "model.content | sanitizeHtml" ></div>

<!-- <div class="ck-content">
        <figure class="image image_resized image-style-align-left" style="width:50%;">
        <img src="https://localhost:5001/images/3db4d12e-b82c-4dbb-938e-2798c1093da0.jpg"></figure>
        <h2>content test sdfas dfasddfdsfas <span style="color:hsl(0,75%,60%);">asdfjaslkdjf alsjdf klajsdklf jasdjf</span></h2>
        <p>f;ajsdk fjaslkdjf kajsdkfj as</p>
        <p>as;dl jfaksldjf lkasjdflk jaslkjfalksdjf lk;ajsdf &nbsp;xxxx</p>
</div> -->


