/* You can add global styles to this file, and also import other style files */
/* @import "./styles/_init-css.css"; */

@import "./styles/_color.css";
@import "./styles/_matIcon.css";
/* @import "./styles/_Helper.css"; */

html, body { height: 100%; }
body {
     margin: 0; 
     /* font-family: "Helvetica Neue", sans-serif; } */
     /* font-family: 'Merriweather', serif; */
     font-family: 'Merriweather Sans', sans-serif ;
     font-weight: 300;
}

* {
    box-sizing: border-box;
}
a{
    color:black;
    text-decoration: none;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
}
.mat-form-field {
    font-family: 'Merriweather Sans', sans-serif;
}
.filter-option > .mat-pseudo-checkbox {
    display: none !important;
  }
/* ----------------------------------------------------------------
	Bootstrap Adjustments
-----------------------------------------------------------------*/

@media (min-width: 576px) {
	.container { max-width: 540px; }
}

@media (min-width: 768px) {
	.container { max-width: 750px; }
}

@media (min-width: 992px) {
	.container { max-width: 970px; }
}

@media (min-width: 1200px) {
	.container { max-width: 1170px; }
}
