<p>{{model | json}}</p>
<form 
    (submit)="saveChanges()" 
    [formGroup]="form" [style.fontSize.px]="14">
    <div class="row">
        <div class="col-md-8 right-side">
          <app-multiple-selector-group  
          (onChangeSelectItems)="onChangeMultiple($event)"
          [SelectedItems]="selectedTypes"
          [groups]="nonSelectedTypes">
          <div class="col-md-10">
                <mat-list *ngIf="selectedTypes">
                  <mat-list-item *ngFor="let list of selectedTypes">
                    <p>{{list.name}}</p>
                  </mat-list-item>
                </mat-list>
          </div>
        </app-multiple-selector-group>    
          <app-input-multi-img
                [imageInfos]="model?.pictureUrl"
                [previews]="photoPreview"
                (onUploadImage)="onUploadImage($event)">
          </app-input-multi-img>

            <app-input-markdown 
                [markdownContent]="model?.description"
                [label]="'Description'"
                (changeMarkdown)="changeMarkdown($event)">
            </app-input-markdown>
            <mat-form-field appearance="fill">
              <mat-label>Choose Due Date</mat-label>
              <input matInput [matDatepicker]="picker" 
               [matDatepickerFilter]="myFilter"
                formControlName="dueDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                <app-single-selector
                (onSelectChange)="onChangeSingleSelect($event)"
                [selected]="selectedAreas"
                [lists]="nonSelectedAreas">
              </app-single-selector>
                <div>
                    <button mat-flat-button color="primary" 
                    type="submit"
                    [disabled]="form.invalid">
                      Save Changes
                    </button>
                    <a mat-stroked-button routerLink="/">Cancel</a>
                  </div>
        </div>
    </div>

</form>
