

.mat-elevation-z5 {
    position: relative;
  }
  
  .sticky {
    position: fixed;
    top: 0px;
  }
  .fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 144px;
}

.nofixed {
    position: static;
    transition: 0.2s linear;
    top: 0px;
}