 <!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Social
					============================================= -->
					<div id="top-social">
						<ul>
							<li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
							<li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
							<li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
							<li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
						</ul>
					</div><!-- #top-social end -->

				</div>

				<div class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="index.html">Locations</a>
								<ul>
									<li><a href="#">San Francisco</a></li>
									<li><a href="#">London</a></li>
									<li><a href="#">Amsterdam</a></li>
								</ul>
							</li>
							<li><a href="faqs.html">FAQs</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->
<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">
			<div class="container clearfix">
				<!-- Logo
					============================================= -->
				<div id="logo">
					<a href="index.html" class="standard-logo"><img src="./assets/images/logo.png" alt="Canvas Logo"></a>
					<a href="index.html" class="retina-logo"><img src="./assets/images/logo@2x.png" alt="Canvas Logo"></a>
				</div><!-- #logo end -->
				<ul class="header-extras">
					<li>
						<i class="i-plain icon-call nomargin"></i>
						<div class="he-text">
							Call Us
							<span>(91) 22 54215821</span>
						</div>
					</li>
					<li>
						<i class="i-plain icon-line2-envelope nomargin"></i>
						<div class="he-text">
							Email Us
							<span>info@canvas.com</span>
						</div>
					</li>
					<li>
						<i class="i-plain icon-line-clock nomargin"></i>
						<div class="he-text">
							We'are Open
							<span>Mon - Sat, 10AM to 6PM</span>
						</div>
					</li>
				</ul>
			</div>

			<div id="header-wrap">
				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="with-arrows style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
					    
						<ul>
							<li class="current"><a href="#"><div>Home</div></a></li>
							<li><a href="demos/construction/services.html"><div>What we do</div></a>
								<ul>
									<li><a href="#"><div>Housing Management</div></a></li>
									<li><a href="#"><div>Construction Planning</div></a></li>
									<li><a href="#"><div>Green Homes</div></a></li>
									<li><a href="#"><div>Architecture Design</div></a></li>
									<li><a href="#"><div>Interior Planning</div></a></li>
								</ul>
							</li>
							<li><a href="demos/construction/about-us.html"><div>About Us</div></a></li>
							<li><a href="demos/construction/projects.html"><div>Projects</div></a>
								<ul>
									<li><a href="demos/construction/projects-2.html"><div>2 Columns</div></a></li>
									<li><a href="demos/construction/projects-3.html"><div>3 Columns</div></a></li>
									<li><a href="demos/construction/projects.html"><div>4 Columns</div></a></li>
									<li><a href="demos/construction/projects-5.html"><div>5 Columns</div></a></li>
								</ul>
							</li>
							<li><a href="demos/construction/investors.html"><div>Investors</div></a></li>
							<li><a href="demos/construction/blog.html"><div>News</div></a></li>
							<li><a href="demos/construction/careers.html"><div>Careers</div></a></li>
							<li><a href="demos/construction/contact.html"><div>Contact</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->