<mat-toolbar >
    <!-- <app-nav></app-nav> -->
   <div fxHide.gt-xs>
       <button mat-icon-button (click)="onToggleSidenav()">
       <mat-icon>menu</mat-icon></button>
   </div>
   <h2>Sombaan</h2>
   <div class="mr-5"><img [src]="" ></div>
   <div fxFlex="80" fxLayout fxLayoutAlign="flex-start" fxHide.xs>
     <ul fxLayout fxLayoutGap="10px" class="navigation-items">
       <ng-container *ngIf="accountService.currentUser$|async">
        <mat-nav-list class="list-horizontal">

          <mat-list-item class="item-link"
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="novel"
            (mouseover)="menuTrigger.openMenu()"
            routerLink='/stories' routerLinkActive='active'>
            <mat-icon >auto_stories</mat-icon>
            <span class="text-space">Article</span>

          </mat-list-item>
             <mat-menu #novel="matMenu" >
              <span (mouseleave)="menuTrigger.closeMenu()">
                  <button mat-menu-item style="width: 300px;"
                    routerLink='/stories'  routerLinkActive='active'>
                      <mat-icon>apps</mat-icon>
                        All Novels
                  </button>
                  <button mat-menu-item style="width: 300px;"
                  routerLink='/stories/all/novel'  routerLinkActive='active'>
                      <mat-icon>explore</mat-icon>
                       Browse
                  </button>
                  <button mat-menu-item
                      routerLink='/stories/topviews' routerLinkActive='active'>
                      <mat-icon>sort</mat-icon>
                      Rankings
                    </button>
                    <button mat-menu-item
                      routerLink='/stories/recent'>
                      <mat-icon>create</mat-icon>
                      Recent
                    </button>
                  </span>
            </mat-menu>

          <mat-list-item class="item-link"
            routerLink='/manga' routerLinkActive='active'>
            <i class="fas fa-hat-wizard"></i>
            <!-- <mat-icon>auto_stories</mat-icon> -->
            <span class="text-space">Manga</span>
          </mat-list-item>
          <mat-list-item class="item-link"
            routerLink='/news' routerLinkActive='active'>
            <mat-icon>feed</mat-icon>
            <span class="text-space">News</span>
          </mat-list-item>
          <mat-list-item class="item-link"
            routerLink='/chatto' routerLinkActive='active'>
            <mat-icon class="material-icons-round">mode_comment</mat-icon>
            <span class="text-space">Chatto</span>
          </mat-list-item>
          <mat-list-item class="item-link"
            routerLink='/admin' routerLinkActive='active'>
            <mat-icon>settings</mat-icon>
            <span class="text-space">Admin</span>
          </mat-list-item>
        </mat-nav-list>
       </ng-container>
       <ng-container *ngIf="(accountService.currentUser$|async)==null">
        <mat-nav-list class="list-horizontal">
          <mat-list-item class="item-link"
            routerLink='/stories' routerLinkActive='active'>
            <mat-icon >auto_stories</mat-icon>
            <span class="text-space">Article</span>
          </mat-list-item>
          <mat-list-item class="item-link"
            routerLink='/manga' routerLinkActive='active'>
            <i class="fas fa-hat-wizard"></i>
            <!-- <mat-icon>auto_stories</mat-icon> -->
            <span class="text-space">Manga</span>
          </mat-list-item>
          <mat-list-item class="item-link"
          routerLink='/news' routerLinkActive='active'>
          <mat-icon>feed</mat-icon>
          <span class="text-space">News</span>
        </mat-list-item>
        </mat-nav-list>
       </ng-container>
     </ul>
   </div>

   <div fxFlex="fill" fxLayout fxLayoutAlign="flex-end">
       <ul fxLayout fxLayoutGap="0px" class="navigation-items" >
        <li class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
            <button mat-button>
                {{user.username}}
              <mat-icon fxHide.gt-sm >arrow_drop_down</mat-icon>
            </button>
           

          </li>

        <div *ngIf="(accountService.currentUser$|async)===null">
          <!-- <a routerLink='/authentication/login'><mat-icon>face</mat-icon> Log In</a>| -->
          <button mat-stroked-button (click)="loginWithGoogle()">
            <span class="p-2">
              <img src="https://img.icons8.com/color/24/000000/google-logo.png"/>
            </span>
          </button>
          <button mat-stroked-button routerLink='/authentication/login'>
            <span class="p-2">
              <mat-icon>face</mat-icon> Log In
            </span>
            </button>
          <!-- <a routerLink='/'> Register</a> -->
          <!-- <button class="btn" type="button" (click)="loginWithGoogle()">
            <img src="https://img.icons8.com/color/24/000000/google-logo.png"/>
          </button> -->

        </div>

       </ul>
      </div>
      <div >

      </div>
</mat-toolbar>
<!-- <div  *ngIf="!isDarkMode" class="hero-image">
  <div class="hero-text">
  </div>
</div> -->
