<div class="content-wrap">
    <div class="container clearfix">
        <div class="postcontent nobottommargin clearfix">
            <div *ngIf="article">
               <p>{{ article | json}}</p>
                <div class="entry-title">
                  <h2>{{article.title | uppercase}}</h2>  
                </div>
                <div class="entry-meta">
                  <app-label-meta [article]="article">
                    <div genre *ngIf="article">
                        <app-chip-list 
                          [prefix]="''"
                          [chiplist]="article.genres">
                        </app-chip-list>
                    </div>
                    <span [hidden]="!canModify">
                      <a class="btn btn-sm btn-outline-secondary"
                         [routerLink]="['/article/edit', article.id]">
                        <i class="ion-edit"></i> Edit Article
                      </a>
            
                      <button class="btn btn-sm btn-outline-danger"
                        [ngClass]="{disabled: isDeleting}"
                        (click)="deleteArticle()">
                        <i class="ion-trash-a"></i> Delete Article
                      </button>
                    </span>
                    <span [hidden]="canModify">
                      <app-follow-button
                        [profile]="article.author"
                        (toggle)="onToggleFollowing($event)">
                      </app-follow-button>

                      <app-favorite-button
                        [article]="article"
                        (toggle)="onToggleFavorite($event)">
                      </app-favorite-button>
                    </span>
                  </app-label-meta>
                </div>
                <!-- <div class="entry-image clearfix" *ngIf="article.photos">
                     <div class="portfolio-single-image masonry-thumbs grid-5" 
                        data-big="2" data-lightbox="gallery">
                        <a href="{{image.url}}" 
                            data-lightbox="gallery-item" 
                            *ngFor="let image of article.photos"> 
                            <img class="image_fade" [src]="image.url" alt="">
                        </a>   
                    </div>
                </div> -->
                <ng-image-slider *ngIf="imageObject.length > 0"
                  [imageSize]= "{width: '33%', height: '50%'}"
                  [images]="imageObject" #nav>
                </ng-image-slider>
                <div class="entry-content notopmargin">
                    <div style="margin-top: 1rem">
                        <div>
                          <markdown [data]="article.body" ngPreserveWhitespaces></markdown>
                        </div>
                      </div>
                </div>
            </div>
            <div *ngIf="article">
              <app-chip-list 
              [chiplist]="article.tags" 
              [prefix]="'#'"></app-chip-list>
            </div>

              <!-- commen list  -->
              <p>{{commentToGet | json}}</p>
                <app-article-comment-list *ngIf="commentToGet"
                [user]="user"
                [getcomment]="commentToGet"
                (addComment)="addComment($event)"
                (deleteComment)="onDeleteComment($event)">
              </app-article-comment-list> 
        </div>
        <div class="sidebar nobottommargin col_last clearfix">

        </div>
    </div>
</div>