.counter {
    font-size: .8rem!important;
}
.comment-author-img{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
  }
.entry-image{
    max-width: 100%;
    overflow: hidden;
}
.entry-meta{
    margin-bottom: 20px;
}
.meta{
    margin-right:3px;
}