<div class="card">
    <div class="card-body">
        <div class=" text-center mb-5">
            <img src="./assets/images/logo.png" >
        </div>
        <h1 class="card-title">Reset Password</h1>

        <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div> -->

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
        </div>
        <div *ngIf="!showSuccess">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group">
                <label for="password" class="col-form-label">Password:</label>
                <div class="">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')" style="color: red;">Password is required</em>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="col-form-label">Confirm Password:</label>
                <div class="">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div class="">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')" style="color: red;">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="">          
                    <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
