<div class="container">
    <mat-card class="example-card mat-elevation-z0">
        <mat-card-title-group>
          <mat-card-title>{{technician.fullName | uppercase}}</mat-card-title>
              <mat-card-subtitle *ngIf="technician.bio">{{technician.bio}}</mat-card-subtitle>
              <mat-card-subtitle>{{technician.phoneNumber}}</mat-card-subtitle>    
              <mat-card-subtitle>{{technician.lineId}}</mat-card-subtitle>
              <mat-card-subtitle>
                Average: {{technician.averageVote}}
                <app-rating (onRating)="onRating($event)" [selectedRate]="technician.userVote"></app-rating>
              </mat-card-subtitle>
              <img mat-card-lg-image src="{{technician.pictureUrl}}" >
        </mat-card-title-group>
        <mat-card-content class="card-content">
        
        <mat-tab-group dynamicHeight>
            <mat-tab label="Skill | Experience">
              <div class="example-small-box mat-elevation-z0">
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.types">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
              </div>
            </mat-tab>
            <mat-tab label="Areas">
              <div class="example-large-box mat-elevation-z0">
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.areas">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content> 
      </mat-card>
</div>    
