.post {
    max-width:250px;
}
.post:hover img{
    transform:scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}
.post img{
    transform: scale(1.0,1,0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.image_frame{
    background-color: var(--subColor);
    /* padding: 1px; */
}
.image-wrapper{
    max-width: 250px;
    height: 180px;
    overflow: hidden;
    position:relative;
    object-fit: cover;
    z-index: 1;
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-icons{
    display: flex;
    font-size: 16px;
    gap:1px;
    height: 50px;
    position:absolute;
    bottom: -30%;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    opacity: 0;
}
.link-icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    width: 100%;
}
.mat-button {
    color: white;
}

.link-icons :hover{
    color:var(--mainColor);
    background-color: var(--bgColor);
}
/* .link-icons span i{
    color: white;
} */
.image-wrapper:hover .link-icons{
    bottom:0;
    opacity: 1;
}
.animate{
    transition: all 0.3s ease-in-out;
}

/* post-desc */
.post-desc-wrapper {
    background-color: white;
    width: 100%;
    float: none;
}
.post-desc{
   padding:10px 20px 20px 20px; 
}
.post-meta {
    margin:0px -15px 0 -15px;
    display: flex;
    align-items: baseline;
    font-size: small;
    color:var(--txtMeta);
}
.post-meta .autor-date .mat-icon{
    font-size: 18px;
}
.post-title{
    padding-top: 1rem;
}
.post-excerpt {
    color:var(--txtContent);
    margin-bottom: 15px;
}
.post-footer {
    display:flex;
    justify-content: space-evenly;
    /* gap:2rem; */
    margin: 0 -20px -20px -20px;
    overflow: hidden;
    line-height: 30px;
    font-size:1rem;
    background-color: var(--subToolbarColor);
}

.post-footer .mat-icon{
    font-size: 1rem;
}
.readmore{
    color:var(--Primary);
}
.readmore .text{
    padding-left: 4px;
    font-weight: 100;
    color:var(--txtMeta);
}
/* .mat-icon {
    vertical-align: middle;
} */
.button-love .mat-icon{
    width: 18px;
    height: 18px;
}

.category{
    margin:2px -15px 2px -15px;
    display:flex;
    justify-content: end;
}
.extent{
    color:red;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-line{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

:host ::ng-deep app-label-name .child-image{
    width:20px;
    height:20px;
    border-radius: 20px;
}

:host ::ng-deep app-label-name .user{
    font-weight: 100;
    color:var(--txtMeta);
}
.post-links{
    color:var(--Primary)
}
.post-links .count{
    padding-left: 2px;
    font-weight: 100;
    color:var(--txtMeta);
}