<div class="home">
   <p>home works!</p> 
   <!-- <button mat-raised-button color="primary"
   [mdePopoverTriggerFor]="appPopover"
   mdePopoverTriggerOn="click">
   Show Popover
 </button>

 <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
   <mat-card style="max-width: 300px">
     <mat-card-content>
     A material design popover component created using Angular version 8 with the Angular CDK.
     </mat-card-content>
     <mat-card-actions align="right">
       <button  mat-button>Close</button>

       <button  mat-button>Submit</button>
     </mat-card-actions>
   </mat-card>
 </mde-popover> -->
</div>

