<ngx-loading-bar ></ngx-loading-bar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (closesidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header></app-header>
        <app-nav-main (toggle)="sidenav.toggle()" ></app-nav-main>
        <!-- <app-nav (sidenavtoggle)="sidenav.toggle()" ></app-nav>
        <app-nav2 class="secondToolbar"
             [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        </app-nav2> -->

        <main>
             <router-outlet></router-outlet>
        </main>
        <app-scroll-to-top></app-scroll-to-top>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
</mat-sidenav-container> 
<!-- <app-header></app-header> 
<router-outlet></router-outlet>
<app-footer></app-footer> -->
