<ngx-loading-bar ></ngx-loading-bar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (closesidenav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header></app-header>
        <app-nav (sidenavtoggle)="sidenav.toggle()" ></app-nav>
        <!-- <mat-toolbar class="secondToolbar"
             [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
            <h4>title</h4>&nbsp; > &nbsp; <h4>subtitle</h4>
        </mat-toolbar> -->
        <app-nav2 class="secondToolbar"
             [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        </app-nav2>

        <main>
             <router-outlet></router-outlet>
        </main>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
</mat-sidenav-container> 
<!-- <app-header></app-header> 
<router-outlet></router-outlet>
<app-footer></app-footer> -->
