/* .btn-sm, .btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
}
.btn .counter {
    font-size: .8rem!important;
}
.btn-outline-primary {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
} */

.mat-stroked-button{
    color:#ff4081;
}
.mat-stroked-button:hover {
    background-color:#ff4081;
    color:white;
}
.mat-stroked-button:hover .mat-icon{
    color:white
}
.mat-flat-button{
    opacity: 0.8;
}
.count{
    color:var(--txtPink);
    font-weight: 100;
}
.mat-icon-button:hover .mat-button-focus-overlay {
    opacity: 1 !important;
}