
<button mat-icon-button (mouseover)="isOver==true" (mouseleave)="isOver==false"
  class="btn btn-sm action-btn like"
 [ngClass]="{ 'disabled' : isSubmitting,
              'btn-outline-primary': !article.liked && hasBorder,
              'btn-primary': article.liked && hasBorder }"
 (click)="toggleFavorite()">
 <span *ngIf="article.liked "><i class="fa-solid fa-heart"></i></span>
 <span *ngIf="!article.liked" >
    <i class="fa-regular fa-heart"></i></span>
  <span class="count">
      <ng-content></ng-content>
  </span>
</button>

