/* .btn-sm, .btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
}
.btn .counter {
    font-size: .8rem!important;
}
.btn-outline-primary {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
} */

.mat-button{
    color:rgb(255, 136, 156);
}