
 <!-- Top Bar
		============================================= -->
		<div id="top-bar">
            <div class="col_half nobottommargin clearfix">

                <!-- Top Social
                ============================================= -->
                <div id="top-social">
                    <ul>
                        <li>facebook</li>
                        <li>twitter</li>
                    </ul>
                </div><!-- #top-social end -->

            </div>

            <div class="col_half fright col_last clearfix nobottommargin">

                

            </div>

    </div><!-- #top-bar end -->