<div class="container">

    <div class="content">
        <app-maintenance-filter
        (submitfilterform)="submitFilter($event)"
        [nonSelectedAreas]="nonSelectedAreas"
        [nonSelectedTypes]="nonSelectedTypes">
      </app-maintenance-filter>
        <app-maintenance-card *ngFor="let maintenance of maintenances"
            [maintenance]="maintenance">
        </app-maintenance-card> 
    </div>
    <mat-paginator *ngIf="pagination"
        [length]="pagination?.totalItems"
        [pageSizeOptions]="[3]"
        [showFirstLastButtons]="true"
        [pageIndex]="pagination.currentPage-1"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>
