<div class="label-meta">
  <span>
    <a routerLink="">
      <!-- <img [src]="article.author.image" /> -->
      <img  class="child-image"
      src ="{{article.author.image??'./assets/smiley-cyrus.jpeg'}}" />
    </a>
    <div class="info">
      <a class="author"
        routerLink="">
        {{ article.author.username| titlecase }}
      </a>
      <span class="date">
        {{ article.createAt | date: 'longDate' }}
      </span> 
    </div>
    
  </span>
    <ng-content select="[genre]"></ng-content>
    <span class="space"></span>
    <ng-content></ng-content>
  </div>
