.label-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    position: relative;
    font-weight: 300;
    padding-top: 1rem;
  }
  .label-meta img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
  }
  .child-image {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 32px;
  }
  .label-meta .info {
    margin: 0 1.5rem 0 0.3rem;
    display: inline-block;
    vertical-align:middle;
    line-height: 1rem;
    text-align: left;
  }
  .label-meta .info .author {
    display: block;
    font-weight: 500!important;
  }
  .label-meta .info .date {
    color: #bbb;
    font-size: .8rem;
    display: block;
  }
.space{
  flex:1 1 auto;
}