
        <mat-toolbar>
             <div fxHide.gt-xs>
               <button mat-icon-button (click)="onToggleSidenav()">
               <mat-icon>menu</mat-icon></button>
           </div>
           <div class="mr-5">som<span class="v-line">|</span>baan</div>
           <div fxFlex="80" fxLayout fxLayoutAlign="flex-start" fxHide.xs>
             <ul fxLayout fxLayoutGap="10px" class="navigation-items">
               <ng-container *ngIf="accountService.currentUser$ | async">
                <mat-nav-list class="list-horizontal">
                  <mat-list-item class="item-link"
                    routerLink='' routerLinkActive='active'>
                    <span class="text-space">Home</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                    routerLink='/article' routerLinkActive='active'>
                    <span class="text-space">Article</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                  routerLink='/technician' routerLinkActive='active'>
                  <span class="text-space">Technician</span>
                </mat-list-item>
                  <mat-list-item class="item-link"
                  routerLink='/maintenance' routerLinkActive='active'>
                  <span class="text-space">Maintenance</span>
              </mat-list-item>
                <mat-list-item class="item-link"
                
                  routerLink='/admin' routerLinkActive='active'>
                  <mat-icon>settings</mat-icon>
                  <span class="text-space">Admin</span>
                </mat-list-item>
                  <mat-list-item class="item-link" *appHasRole='["Admin","Moderator"]'
                    routerLink='/admin' routerLinkActive='active'>
                    <mat-icon>settings</mat-icon>
                    <span class="text-space">Admin</span>
                  </mat-list-item>
        
                </mat-nav-list>
               </ng-container>
               <ng-container *ngIf="(accountService.currentUser$|async)==null">
                <mat-nav-list class="list-horizontal">
                  <mat-list-item class="item-link"
                    routerLink='' routerLinkActive='active'>
                    <span class="text-space">Home</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                    routerLink='/article' routerLinkActive='active'>
                    <span class="text-space">Article</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                  routerLink='/technician' routerLinkActive='active'>
                  <span class="text-space">Technician</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                    routerLink='/maintenance' routerLinkActive='active'>
                    <span class="text-space">Maintenance</span>
                  </mat-list-item>
                  <mat-list-item class="item-link"
                  routerLink='/maintenance' routerLinkActive='active'>
                  <span class="text-space">Maintenance</span>
                </mat-list-item>
                </mat-nav-list>
               </ng-container>
             </ul>
           </div>
           <div fxFlex="fill" fxLayout fxLayoutAlign="flex-end" 
                *ngIf="(accountService.currentUser$ | async) as user">
             <app-login-panel 
              (getLogout)="logout()"  
              [user]="user"></app-login-panel>
           </div>
           <div *ngIf="(accountService.currentUser$|async)===null">
            <button mat-stroked-button (click)="loginWithGoogle()">
              <span class="p-2">
                <img src="https://img.icons8.com/color/24/000000/google-logo.png"/>
              </span>
            </button>
            <button mat-stroked-button routerLink='/authentication/login'>
              <span class="p-2">
                <mat-icon>face</mat-icon> Log In
              </span>
              </button>
          </div>
        </mat-toolbar>
