
<mat-card  *ngIf="technician"
    class="example-card mat-elevation-z0">
    <mat-card-title-group>
     <img mat-card-md-image src="{{ technician.pictureUrl}}" >
      <mat-card-title>{{technician.fullName | uppercase}}</mat-card-title>
      <mat-card-subtitle *ngIf="technician.bio">{{technician.bio | titlecase}}</mat-card-subtitle>
      <mat-card-subtitle>{{technician.phoneNumber}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="technician.bio">{{technician.lineId}}</mat-card-subtitle>
      <mat-card-subtitle>
        <app-rating (onRating)="onRating($event)" [selectedRate]=3></app-rating>
      </mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content class="card-content">
        <mat-accordion class="">
            <mat-expansion-panel class="mat-elevation-z0"
                                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Skill | Experience
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.types">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0"
                                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Areas
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.areas">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        
    </mat-card-content>
  </mat-card>

  <!-- <div class="card1">
    <div class="img">
      <img src="https://4.bp.blogspot.com/-qxWysu0KsQ0/YX5y4e6uGLI/AAAAAAAACAA/Pvlz1Gigp_EixyPExFI5sm8Srr3jBuUmgCK4BGAYYCw/s113-pf/jane-doe-img%25252B%252525281%25252529.jpg">
    </div>
    <div class="infos">
      <div class="name">
        <h2>Shantanu Jana</h2>
        <h4>@foolishdeveloper</h4>
      </div>
      <p class="text">
        I'm a Front End Developer, follow me to be the first
        who see my new work.
      </p>
      <ul class="stats">
        <li>
          <h3>15K</h3>
          <h4>Views</h4>
        </li>
        <li>
          <h3>82</h3>
          <h4>Projects</h4>
        </li>
        <li>
          <h3>1.3M</h3>
          <h4>Followers</h4>
        </li>
      </ul>
      <div class="links">
        <button class="follow">Follow</button>
        <button class="view">View profile</button>
      </div>
    </div>
  </div> -->