
<mat-card  *ngIf="technician"
    class="example-card mat-elevation-z0">
    <mat-card-title-group>
      <mat-card-title>{{technician.fullName | uppercase}}</mat-card-title>
      <mat-card-subtitle *ngIf="technician.bio">{{technician.bio}}</mat-card-subtitle>
      <mat-card-subtitle>{{technician.phoneNumber}}</mat-card-subtitle>
      <img mat-card-md-image src="{{ technician.pictureUrl}}" >
    </mat-card-title-group>
    <mat-card-content class="card-content">
        <mat-accordion class="">
            <mat-expansion-panel class="mat-elevation-z0"
                                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Skill | Experience
                </mat-panel-title>
                <!-- <mat-panel-description class="description">
                  <mat-icon>
                      <span class="material-symbols-outlined">
                        star
                    </span>
                  </mat-icon>  
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.types">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0"
                                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Areas
                </mat-panel-title>
                <!-- <mat-panel-description class="description">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            where_to_vote
                        </span>
                    </mat-icon>
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let list of technician.areas">
                        <p>{{list.name}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
      <!-- {{longText}} -->
    </mat-card-content>
  </mat-card>