.mat-icon{
    vertical-align: middle;
}

.popover-notifications .popover-content {
        padding: 0;
}
.popover-body{
    padding: 0 !important;
}
ul{
        list-style: none;
        padding-left: 0px;
}
ul>li {
        border-bottom: 1px solid #ddd;
        padding: 10px;
}

ul>li:last-child {
        border-bottom: none;
        padding-bottom:0;
}

.highlight {
    font-weight: bold;
}