.material-icons-outlined{
    cursor: pointer;
    color:lightslategrey;
    justify-items: center;
    font-size: 1.5rem;
    vertical-align:middle;

}
.highlighted{
    cursor: pointer;
    color: #159105;
}
.normal{
    color:lightslategrey;
}
.like{
    display: flex;
    align-items: center;
    gap:5px;
}
