.material-icons-outlined{
    cursor: pointer;
    color:lightslategrey;
    justify-items: center;
    font-size: 18px;
    vertical-align:middle;

}
.highlighted{
    cursor: pointer;
    color: #159105;
}
.normal{
    color:lightslategrey;
}
.like{
    display: flex;
    align-items: center;
    gap:5px;
}
.like-text{
    font-size: 14px;
}

.mat-icon{
    height: 20px;
    width:18px;
}
