<div class="fullpage">
    <div class="center">
        <div class="justify-content-center">
            <div class="logo">
                 <img src="./assets/images/logo.png" (click)="home()">
            </div>
            <div *ngIf="!registerMode">
            <h3 class="mb-4  text-center">Have an account?</h3>
            <form *ngIf="(accountService.currentUser$|async) === null" #loginForm="ngForm" class="signin-form" (ngSubmit)="login()"
              autocomplete="off">
                  <div class="form-group">
                    <input
                        name="username"
                        [(ngModel)]="model.username"
                        class="form-control mr-sm-2"
                        type="text"
                        placeholder="&#61447; UserName/Email">
                    </div>
                    <div class="form-group">
                        <input
                        name="password"
                        [(ngModel)]="model.password"
                        class="form-control mr-sm-2"
                        type="password"
                        placeholder="&#61475; Password">
                    </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50" style="color: rgb(175, 175, 175);">
                             <label class="checkbox-wrap checkbox-primary" >Remember Me
                                  <input type="checkbox" checked>
                                  <span class="checkmark"></span>
                            </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a [routerLink]="['/authentication/forgotpassword']"> Forgot Password </a>
                            </div>
            </div>
            </form>
            <p class="w-100 text-center" style="color: rgb(150, 150, 150);">&mdash; Or Sign Up With &mdash;</p>
            <div  fxLayoutAlign="center center">
                <div><button class="btn" type="button" (click)="loginWithGoogle()" >
                    <img src="https://img.icons8.com/color/32/000000/google-logo.png"/>
                </button>
                </div>
                <div>
                    <button class="btn" type="button" (click)="registerToggle()">
                        <img src="./assets/images/minilogo_blue.png" style="height: 32px;"/>
                    </button>
                </div>

            </div>
            </div>
            <div *ngIf="registerMode">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-4 col-sm-6">
                        <app-register (cancelRegister)="cancelRegisterMode()"></app-register>
                    </div>
                </div>
            </div>
        <!-- <div class="row justify-content-center" *ngIf="!registerMode">
            <div class="col-md-6 col-lg-4" >
            <div class="login-wrap p-0">


              <form *ngIf="(accountService.currentUser$|async) === null" #loginForm="ngForm" class="signin-form" (ngSubmit)="login()"
              autocomplete="off">
                  <div class="form-group">
                    <input
                    name="username"
                    [(ngModel)]="model.username"
                    class="form-control mr-sm-2"
                    type="text"
                    placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <input
                        name="password"
                        [(ngModel)]="model.password"
                        class="form-control mr-sm-2"
                        type="password"
                        placeholder="Password">
                    </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                  <input type="checkbox" checked>
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a [routerLink]="['/authentication/forgotpassword']" style="color: #666"> Forgot Password </a>
                            </div>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
          <div  fxLayoutAlign="center center">
            <div><button class="btn" type="button" (click)="loginWithGoogle()" >
                <img src="https://img.icons8.com/color/32/000000/google-logo.png"/>
              </button>
            </div>
            <div>
                <button class="btn" type="button" (click)="registerToggle()">
                    <img src="./assets/images/minilogo_blue.png" style="height: 32px;"/>
                </button>
            </div>

            </div>
          </div>
            </div>


        </div> -->

        </div>
    </div>
</div>
<div class="rightCircle">
    <mat-icon (click)="home()">close</mat-icon>
</div>
