<div class="container">
    <h2 class="text-center ">Sign In</h2>
    <hr>
<form (ngSubmit)="loginForm.valid && login()"  [formGroup]='loginForm' autocomplete="off">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-error>{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
        <mat-error>The field password is required</mat-error>
    </mat-form-field>

    <div>
        <button mat-flat-button color="primary" [disabled]="loginForm.invalid">
            Sign In
        </button>
        <a mat-stroked-button routerLink="/">
            Cancel
        </a>
    </div>
</form>
</div>
