:root {
    --bgColor: #d8d8d8;
    --bgColorLight:#6600ff;
    --Primary:#2991d6;
    --txtSubtitle:#747474;
    --txtMeta: #a8a8a8;
    --txtContent:#6c6c6c;
    --borderColor:#f5f5f5;
    --mainColor:#d8905c;
    --subColor:#fafafa;
    --subToolbarColor:#f3f3f3;
  }
