<div class="image-panel">
    <div class="image-thumb" (click)="fileInput.click()">
        <div *ngIf="imageBase64"  >
            <img [src]="imageBase64" class="child-image"/>
        </div>
        <div *ngIf="urlCurrentImage" >
            <img [src]= "urlCurrentImage" class="child-image"/>
        </div>
        <div *ngIf="!urlCurrentImage && !imageBase64">
            <img src = "../../../assets/smiley-cyrus.jpeg" class="child-image" />
        </div>
    </div>
        <button  mat-icon-button (click)="fileInput.click()">
            <mat-icon> photo_camera</mat-icon></button>
            <input type="file" hidden #fileInput accept="image/png, image/jpeg" 
            (change)="change($event)" />
</div>
