<div class="label">
  <div class="label-meta">
    <a href="/profile/{{userName}}">
      <!-- <img [ngStyle]="{'height':pHeight+'px','width':pHeight+'px'}" 
         src ="{{imageUrl??'./assets/smiley-cyrus.jpeg'}}" /> -->
            <img  class="child-image"
              src ="{{imageUrl??'./assets/smiley-cyrus.jpeg'}}" />
    </a>
    <div class="info" *ngIf="userName">
      <a class="user">
        {{ userName | titlecase }}
      </a>
      <span class="date">
          <ng-content select="[content]"></ng-content>
      </span>
    </div>
</div>
<span>
  <ng-content select="[extent]"></ng-content>
</span>
</div>

