<!-- <ng-container>
    <div class="rank">
    <div class="image">
            <img src="{{imageUrl??'../../../../../assets/user-icon.jpg'}}"
            [ngStyle]="{'box-shadow':rank,'height':pHeight+'px'}"
            alt="{{knownAs}}" [matTooltip]="tooltip"
            class="img-circle rounded-circle">
    </div>
    <div class="label_name" *ngIf="userName">
        <div class="knownAs">
            <span class="name">{{userName | titlecase}}</span>
            <ng-content select = [content]></ng-content>
        </div>
        
    </div>
</div>
</ng-container> -->

<div class="label-meta">
    <!-- <a [routerLink]="['/profile', article.author.username]"> -->
    <a>
      <img src ="{{imageUrl??'../../../../../assets/user-icon.jpg'}}" />
    </a>
  
    <div class="info">
      <a class="user">
        <!-- [routerLink]="['/profile', article.author.username]"> -->
        {{ userName | titlecase }}
      </a>
      <span class="date">
          <ng-content select="[content]"></ng-content>
      </span>
    </div>
    <ng-content select="[extent]"></ng-content>
  </div>